*{
  margin: 0;
  padding: 0;
}

html, body{
  height: 100%;
}

#container{
  min-height: 100%;

}



#main{
  overflow: auto;
  padding-bottom: 100px;

  background-color: rgba(80, 80, 80, 0.5);
}

#footer
{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(30, 30, 30, 1);
  color: white;
  text-align: center;
}

#nope p{
  color: red;
}
